@page
@model IndexModel
@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="text-center">
    <h1 class="display-4">Bulut Bilişim Ödevi</h1>
    <h2>Ad Soyad: Yusuf Karataş</h2>
    <h3>Öğrenci No: 231002033</h3>
    <p>Azure App Service ve GitHub Actions ile otomatik dağıtım (CI/CD) laboratuvarı.</p>
</div>